.tag {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:hover {
color: white;
background-color: var(--text-accent-hover);

}
.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}
.tag[href^="#todo"] {
  background-color: red;
}
.tag[href^="#papers"] {
  background-color: rgba(10, 100, 100, 0.2) !important;
}
.tag[href^="#recommendations"] {
  background-color: rgba(100, 0, 200, 0.2) !important;
}

/* Cursor color in normal vim mode and opacity */
.cm-fat-cursor .CodeMirror-cursor, .cm-animate-fat-cursor {
  width: 0.5em;
  background: #d65d0e;
  opacity: 60% !important;
}

/*an active line highlight in vim normal mode */
.cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: rgba(89, 75, 95, 0.99) !important;
}

/*if you want the highlight to present in both normal and insert mode of vim*/
.CodeMirror-activeline .CodeMirror-linebackground{
  background-color: rgba(200, 200, 100, 0.99) !important;
}

.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
 content:'';
 border-left: 1px solid rgba(0, 122, 255, 0.25);
 position: absolute;
}
.cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; 
}
ul ul::before { left: -11px; top: 0; bottom: 0; 
} 

.tag, div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-end {
  background-color: var(--text-accent);
  border: none;
  color: white !important;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}

/*============bigger link popup preview  ================*/
.popover.hover-popover {
    transform: scale(0.8); /* makes the content smaller */
    max-height: 800px;    /* was 300 */
    min-height: 100px;
    width: 500px;     /* was 400 */
}


/* hide all html tags -- IT IS COMMENTED OUT BY DEFAULT */
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag{ display: none; } */

:root {
  --dark0: #2e3440;
  --dark1: #3b4252;
  --dark2: #434c5e;
  --dark3: #4c566a;

  --light0: #d8dee9;
  --light1: #e5e9f0;
  --light2: #eceff4;

  --frost0: #8fbcbb;
  --frost1: #88c0d0;
  --frost2: #81a1c1;
  --frost3: #5e81ac;

  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;
}

.theme-dark,
.theme-light {
  --font-monospace: "Hack Nerd Font", "Source Code Pro", monospace;
  --text-normal: var(--light2);
  --text-faint: rgba(255, 255, 255, 0.2);
  --text-muted: var(--light0);
  --text-title-h1: var(--purple);
  --text-title-h2: var(--orange);
  --text-title-h3: var(--yellow);
  --text-title-h4: var(--green);
  --text-title-h5: var(--red);
  --text-link: var(--frost0);
  --text-a: var(--frost3);
  --text-a-hover: var(--frost2);
  --text-mark: var(--yellow);
  --pre-code: var(--dark1);
  --text-highlight-bg: var(--light3);
  --interactive-accent: var(--frost0);
  --interactive-before: var(--dark3);
  --background-modifier-border: var(--dark2);
  --text-accent: var(--orange);
  --interactive-accent-rgb: var(--orange);
  --inline-code: var(--frost1);
  --code-block: var(--frost1);
  --vim-cursor: var(--orange);
  --text-selection: rgba(30, 15, 22, 0.2);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: transparent;
}

.cm-header-1,
.markdown-preview-section h1 {
  font-size: 44px;
  color: rgba(100,0,0,1);
}

.cm-header-2,
.markdown-preview-section h2 {
  font-size: 22px;
  color: rgba(0,80,150,1);
}

.cm-header-3,
.markdown-preview-section h3 {
  font-size: 18px;
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-section h4 {
  font-size: 12px;
  color: var(--text-title-h4);
}

.cm-header-5,
.cm-header-6,
.markdown-preview-section h5,
.markdown-preview-section h6 {
  font-size: 8px;
  color: var(--text-title-h5);
}
